@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
 
    .card-home {
        flex: 0 0 calc(25% - 1em);
    }
}

.card{
    margin:2%
}